<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img src="favicon.ico" width="24" height="24"><span
        style="margin-left: 4px;">rpibox</span></a>
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngFor="let menuItem of menuItems | keyvalue" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="{{menuItem.key}}" (click)="closeNav()">{{menuItem.value}}</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-nav">
  <li *ngFor="let menuItem of menuItems | keyvalue" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="{{menuItem.key}}" (click)="closeNav()">{{menuItem.value}}</a>
  </li>
</ul>

<router-outlet></router-outlet>